.DS_Store
/client/node_modules/
/server/node_modules/

# React Router
/client/.react-router/
/client/build/

/client/.env.local
/server/prisma/generated
/server/.env
/server/prisma/migrations
/server/dist
